[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-location-field = "==2.0.3"
pip = "*"
pymysql = "*"
python-dotenv = "*"
django-webtest = "*"
coverage = "*"
requests = "*"

[dev-packages]
coverage = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
