@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-virtualized/styles.css";

.credit-card-input__field {
  border: 1px solid #ced4da;
  padding: 18px;
}

.credit-card-input__input {
  border-bottom: 1px solid #b6bfc8 !important;
  padding:0
}

.Table {
  width: 100%;
  border: 1px solid #e0e0e0;
}

.headerRow {
  border-bottom: 1px solid #e0e0e0;
}

.evenRow, .oddRow, .hoveredRow {
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: .1s ease-out, .1s ease-in;
}

.oddRow {
  background-color: #fafafa;
}

.hoveredRow {
  background-color: #343a40;
  color: #fafafa;
}

.headerColumn {
  text-transform: none;
}

.column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerRow {
  border: 1px solid #e0e0e0;
  text-transform: none;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}
